= form_for @scholarship do |f|
  - if @scholarship.errors.any?
    #error_explanation
      %h2= "#{pluralize(@scholarship.errors.count, "error")} prohibited this scholarship from being saved:"
      %ul
        - @scholarship.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :person_type
    = f.text_field :person_type
  .field
    = f.label :person_id
    = f.number_field :person_id
  .field
    = f.label :amount
    = f.text_field :amount
  .field
    = f.label :start_date
    = f.date_select :start_date
  .field
    = f.label :end_date
    = f.date_select :end_date
  .field
    = f.label :scholarship_type
    = f.number_field :scholarship_type
  .field
    = f.label :status
    = f.number_field :status
  .actions
    = f.submit 'Save'
