-if @scholarship.scholarship_token
  -if @scholarship.scholarship_token.token == @token
    -if @scholarship.scholarship_token.status.eql? ScholarshipToken::ACTIVE
      / El token es el correcto y se tiene acceso
      .row
        .card
          .card-content
            .card-title
              Información de la beca
            .row
              .col.s12.m1
                %img.responsive-img.circle{src:"http://posgrado.cimav.edu.mx/imagen/#{@scholarship.person_type.downcase}/#{@scholarship.person_id}"}
              .col.s12.m11
                .right.valign-wrapper
                  %i.material-icons.left{class:status_color(@scholarship.status)}
                    lens
                  =@scholarship.get_status
                %h4
                  = @scholarship.person.full_name
                .row
                  .col.s12.m6
                    -if @scholarship.person_type.eql?'Student' # Campos específicos de estudiantes y practicantes
                      %p
                        %b Programa:
                        =@scholarship.person.program.name
                      %p
                        %b Director de tesis:
                        = @scholarship.person.supervisor.full_name
                    -else
                      %p
                        %b Área:
                        =@scholarship.person.area.name
                    %p
                      %b Fecha de inicio (beca):
                      -if !@scholarship.start_date.blank?
                        = f_date_no_time(@scholarship.start_date)
                      -else
                        %span.red-text
                          Sin capturar
                    %p
                      %b Fecha de inicio (beca):
                      -if !@scholarship.end_date.blank?
                        = f_date_no_time(@scholarship.end_date)
                      -else
                        %span.red-text
                          Sin capturar
                    %p
                      %b Tipo de beca:
                      = @scholarship.scholarship_type.name

      .row
        .card
          .card-content
            .card-title
              Documentos
              -if (@scholarship.status.eql? Scholarship::REQUESTED) && (@scholarship.person_type.eql? 'Internship')
                %a.btn-floating.right
                  %i.material-icons.green.darken-2{onclick:"openModal($('#upload_file_modal'));"}
                    add
            #internship_files
              :javascript
                refreshInternshipFiles("#{@scholarship.id}");
      #upload_file_modal.modal
        .modal-content
          %h5 Subir documento
          =form_for InternshipFile.new, url:"/scholarships/#{@scholarship.id}/upload_internship_file", class:'col s12 m12 remote-form', remote:true do |f|
            .row
              .input-field.col.s12.m12
                =f.label :file_type,'Tipo de documento', class:'active'
                =f.select :file_type, InternshipFile::REQUESTED_DOCUMENTS.except(InternshipFile::COURSE,InternshipFile::NORMAL,InternshipFile::SIGN_REQUEST).invert
              .input-field.col.s12.m12
                =f.file_field :file
              .input-field.col.s12.m12.right-align
                %button.btn-floating.green.darken-1{type:'submit',value:"Submit", 'data-remote':'true'}
                  %i.material-icons
                    send














    -else
      %h1.center.red
        Ya no tiene acceso a este enlace
  -else
    No tiene acceso a este enlace
-else
  No tiene acceso a este enlace

:javascript
  $(document).ready(function(){
    // the "href" attribute of the modal trigger must specify the modal ID that wants to be triggered
    $('.modal').modal('close');
  });