%nav.config-breadcrumb.z-depth-0
  .nav-wrapper
    .row
      .col.s12.m12.l12
        =link_to root_path, class:'breadcrumb', 'data-turbolinks':"false" do
          Listado de becas
        %a.breadcrumb{}
          =@scholarship.scholarship_type.name
-if is_admin?
  -if multiple_scholarship? @scholarship
    .row
      .card-panel.pink.lighten-5
        %h5
          %i.material-icons.left.orange-text.text-darken-2 warning
          Múltiples becas
        %p.grey-text.text-darken-2 Se ha detectado que existe más de una beca con este CURP. Si quiere ocultar este aviso debe cambiar el estatus de las becas repetidas a 'cancelada', 'inactiva' o 'rechazada'
.row
  .card
    .card-content
      .card-title
        %i.material-icons.left
          info_outline
        Información de la beca
      .row
        .col.s12.m1
          %img.responsive-img.circle{src:"http://posgrado.cimav.edu.mx/imagen/#{@scholarship.person_type.downcase}/#{@scholarship.person_id}"}
        .col.s12.m11
          .right.valign-wrapper
            %i.material-icons.left{class:status_color(@scholarship.status)}
              lens
            =@scholarship.get_status
          %h4
            = @scholarship.person.full_name
          .row
            .col.s12.m6
              -if @scholarship.person_type.eql?'Student' # Campos específicos de estudiantes y practicantes
                %p
                  %b Programa:
                  =@scholarship.person.program.name
                %p
                  %b Director de tesis:
                  = @scholarship.person.supervisor.full_name
              -else
                %p
                  %b Área:
                  -if !@scholarship.person.area.blank?
                    =@scholarship.person.area.name
                  -else
                    %span.red-text
                      Sin capturar
                %p
                  %b Responsable:
                  = @scholarship.person.staff.full_name
                %p
                  %b Tipo de servicio:
                  = @scholarship.person.internship_type.name

              %p
                %b Curp:
                -if !@scholarship.person.curp.blank?
                  = @scholarship.person.curp
                -else
                  %span.red-text
                    Sin capturar

              %p
                %b Correo electrónico:
                -if !@scholarship.person.email.blank?
                  = @scholarship.person.email
                -else
                  %span.red-text
                    Sin capturar
              %p
                %b Fecha de inicio (beca):
                -if !@scholarship.start_date.blank?
                  = f_date_no_time(@scholarship.start_date)
                -else
                  %span.red-text
                    Sin capturar
              %p
                %b Fecha de inicio (beca):
                -if !@scholarship.end_date.blank?
                  = f_date_no_time(@scholarship.end_date)
                -else
                  %span.red-text
                    Sin capturar
              %p
                %b Tipo de beca:
                = @scholarship.scholarship_type.full_name
              %p
                %b Proyecto:
                -if !@scholarship.project_number.blank?
                  = @scholarship.project_number
                -else
                  %span.red-text
                    Sin capturar
              -if is_admin?
                %p
                  %b Número de solicitud:
                  -if !@scholarship.request_number.blank?
                    = @scholarship.request_number
                  -else
                    %span.red-text
                      Sin capturar


            .col.s12.m6
              %table.grey.lighten-4
                %thead
                  %tr
                    %th
                      Concepto
                    %th
                      Cantidad
                %tbody
                  %tr
                    %th
                      Monto máximo
                    %td
                      = number_to_currency(@scholarship.max_amount,unit: "$", separator: ".", delimiter: ",", format: "%u%n")
                  %tr.grey.lighten-2
                    %th
                      Monto mensual a otorgar
                    %th
                      = number_to_currency(@scholarship.amount,unit: "$", separator: ".", delimiter: ",", format: "%u%n")
            .col.s12
              -if !@scholarship.notes.blank?
                %br
                .grey-text.text-darken-2
                  %b Notas:
                  = @scholarship.notes
      -if is_admin?
        %button.btn-floating.btn-large.waves-effect.waves-light.indigo.tooltipped{'data-tooltip':"Enviar a comité",'data-delay':30, onclick:"openModal($('#send_to_cep_modal'));", class:"#{enable_cep_button(@scholarship)}"}
          %i.material-icons gavel

      -if @scholarship.scholarship_files.where(file_type: ScholarshipFile::CEP_DOCUMENT).size > 0
        %a.btn-floating.btn-large.waves-effect.waves-light.yellow.darken-3.tooltipped{href:"/scholarship_files/#{@scholarship.scholarship_files.where(file_type: ScholarshipFile::CEP_DOCUMENT).last.id}", target:'_blank', 'data-tooltip':"Formato del CEP",'data-delay':30}
          %i.material-icons insert_drive_file
      -if @scholarship.agreement
        %a.btn-floating.btn-large.waves-effect.waves-light.yellow.darken-3.tooltipped{href:"http://cep.cimav.edu.mx/scholarships/#{@scholarship.id}/scholarship_document", target:'_blank', 'data-tooltip':"Formato del CEP",'data-delay':30}
          %i.material-icons insert_drive_file
-if is_admin?
  .row#admin_notes
    %ul.collapsible
      %li
        .collapsible-header{class:"#{'active' if params[:target] == 'admin_notes'}"}
          %i.material-icons.left
            feedback
          Notas de administrador
          %span.badge{'data-badge-caption':"#{@admin_notes.size==1?'Nota':'Notas'}"}
            =@admin_notes.size
        .collapsible-body.white
          =render 'admin_notes'
          %br
          .right-align
            %button.btn-floating.btn-large.waves-effect.waves-light.indigo.tooltipped{'data-tooltip':"Agregar nota", onclick:"openModal($('#new_admin_note'));"}
              %i.material-icons feedback

.row#messages
  %ul.collapsible
    %li
      .collapsible-header{class:"#{'active' if params[:target] == 'messages'}"}
        %i.material-icons.left
          insert_comment
        Mensajes
        %span.badge{'data-badge-caption':"#{@comments.size==1?'Mensaje':'Mensajes'}"}
          =@comments.size
      .collapsible-body.white
        =render 'scholarship_messages'
        .right-align
          %button.btn-floating.btn-large.waves-effect.waves-light.purple.tooltipped{'data-tooltip':"Escribir mensaje", onclick:"openModal($('#new_comment_modal'));"}
            %i.material-icons insert_comment

-if @scholarship.person_type.eql?'Internship'
  .row#internship-files
    .card
      .card-content
        .card-title
          %i.material-icons.left
            insert_drive_file
          Documentos
          -if is_assistant? || is_admin?
            %a.btn-floating.right
              %i.material-icons.green.darken-2{onclick:"openModal($('#upload_file_modal'));"}
                add
        #internship_files
          :javascript
            refreshInternshipFiles("#{@scholarship.id}");



-#if @scholarship.status.eql?Scholarship::REQUESTED
  .fixed-action-btn
    %a.btn-floating.btn-large.blue.darken-2
      %i.material-icons
        more_vert
    %ul
      %li
        %a.btn-floating.blue.tooltipped{href:"#{edit_scholarship_path}","data-position":"left", "data-tooltip": "Editar beca","data-delay":40}
          %i.material-icons
            edit
-if is_admin?
  .fixed-action-btn
    %button.btn-floating.btn-large.blue.darken-2
      %i.material-icons
        more_vert
    %ul
      %li
        %button.btn-floating.waves-effect.waves-light.brown.tooltipped{"data-position":"left", "data-tooltip": "Archivos de beca","data-delay":40, onclick:"openModal($('#scholarship_files_modal'));", class:"#{@scholarship.status == Scholarship::REJECTED ? 'disabled':''}"}
          %i.material-icons folder
      %li
        %button.btn-floating.waves-effect.waves-light.orange.tooltipped{"data-position":"left", "data-tooltip": "Cambiar estatus","data-delay":40, onclick:"openModal($('#change_status_modal'));", class:"#{@scholarship.status == Scholarship::REJECTED ? 'disabled':''}"}
          %i.material-icons settings
      %li
        %a.btn-floating.blue.tooltipped{href:"#{edit_scholarship_path}","data-position":"left", "data-tooltip": "Editar beca","data-delay":40, class:"#{@scholarship.status == Scholarship::REJECTED ? 'disabled':''}"}
          %i.material-icons
            edit








#new_comment_modal.modal
  .modal-content
    %h5 Escribir mensaje
    .row
      =form_for ScholarshipComment.new, url:"/scholarships/#{@scholarship.id}/create_comment", class:'col s12 m12' do |f|
        .input-field.col.s12.m12
          =f.label :content,'Mensaje'
          =f.text_area :content, class:'materialize-textarea'
        .input-field.col.s12.m12.right-align
          %button.btn-floating.green.darken-1{type:'submit',value:"Submit"}
            %i.material-icons
              send
#new_admin_note.modal
  .modal-content
    %h5 Escribir nota de administrador
    .row
      =form_for AdminNote.new, url:"/scholarships/#{@scholarship.id}/create_admin_note", class:'col s12 m12' do |f|
        .input-field.col.s12.m12
          =f.label :content,'Mensaje'
          =f.text_area :content, class:'materialize-textarea'
        .input-field.col.s12.m12.right-align
          %button.btn-floating.green.darken-1{type:'submit',value:"Submit"}
            %i.material-icons
              send
#send_to_cep_modal.modal
  .modal-content
    %h5 Crear acuerdo en CEP
    =form_for @scholarship, class:'col s12 m12', url:"/scholarships/#{@scholarship.id}/send_to_committee", method:'post' do |f|
      .row
        .input-field.col.s12.m12
          =label_tag :meeting_id,'Sesión', class:'active'
          =select_tag :meeting_id, options_from_collection_for_select(Meeting.where(status:Meeting::OPENED).order('id_key desc'), "id", "id_key"), class:'material-select'

        .input-field.col.s12.m12
          =label_tag :notes,'Nota', class:'active'
          =text_field_tag :notes,'' ,placeholder:'Escriba una nota sobre la beca que sea importante para la decisión deel CEP'
      .row
        .col.s12.m12
          %p.purple-text.text-darken-2
            Al dar click en "crear acuerdo" el acuerdo se enviará al CEP para la autorización de la beca. Revise bien la sesión a la que enviará el acuerdo
            ya que no se podrá modificar más adelante
      .row
        .col.s12.m12.right-align
          =f.submit 'Crear acuerdo', class:'btn btn-large purple'
#change_status_modal.modal
  .modal-content
    %h5 Cambiar estatus
    =form_for @scholarship, url:"/scholarships/#{@scholarship.id}/change_status", class:'col s12 m12' do |f|
      .row
        .input-field.col.s12.m12
          =f.label :status,'Estatus', class:'active'
          =f.select :status, Scholarship::STATUS.except(Scholarship::DELETED,Scholarship::TO_COMMITTEE).invert, {}, class:'material-select'
        .input-field.col.s12.m12.right-align
          %button.btn-floating.green.darken-1{type:'submit',value:"Submit"}
            %i.material-icons
              send
#scholarship_files_modal.modal.bottom-sheet
  .modal-content
    %h5 Archivos de beca
    .row#scholarship-files
      .col.s3.m1
        =image_tag 'add-document-icon.png', class:'responsive-img tooltipped cursor-pointer', 'data-tooltip':'Subir archivo', onclick:"openModal($('#upload_scholarship_files_modal'));"
      -@scholarship.scholarship_files.each do |file|
        .col.s3.m1#scholarship_file_wrapper
          %a{href:"/scholarship_files/#{file.id}", data: {method:'delete', confirm: "¿Desea eliminar el archivo?"}}
            %i.material-icons#delete-file-icon
              clear
          %a{href:"/scholarship_files/#{file.id}", target:'_blank'}
            =image_tag 'file-icon.png', class:'responsive-img'
          %p.truncate.tooltipped{'data-tooltip':file.name}=file.name

#upload_scholarship_files_modal.modal
  .modal-content
    %h5 Subir archivo
    =form_for ScholarshipFile.new, url:"/scholarships/#{@scholarship.id}/upload_scholarship_file", remote:true, html:{id:'scholarship-files-form', class:'col s12 m4'} do |f|
      .row
        .input-field.col.s12.m12
          =f.label :file_type,'Tipo de documento', class:'active'
          =f.select :file_type, ScholarshipFile::TYPES.invert, {}, class:'material-select'
        .input-field.col.s12.m12
          =f.file_field :file
        .input-field.col.s12.m12.right-align
          =f.submit 'Subir'

#upload_file_modal.modal
  .modal-content
    %h5#internshipFileName Subir documento
    =form_for InternshipFile.new, url:"/scholarships/#{@scholarship.id}/upload_internship_file", remote:true, html:{id:'internship-files-form', class:'col s12 m12'} do |f|
      .row
        =f.hidden_field :file_type, id:'internship_file_type'
        .input-field.col.s12.m12
          =f.file_field :file
        .input-field.col.s12.m12.right-align
          =f.submit 'Subir'
:javascript
  $('.material-select').material_select();
  $(".do-select2").select2();
  Turbolinks.clearCache();
  $(document).ready(function(){
    // the "href" attribute of the modal trigger must specify the modal ID that wants to be triggered
    //$('.modal').modal('close');
    if (#{!params[:target].blank?})
      $('html, body').animate({scrollTop: $("#"+'#{params[:target]}').offset().top}, 800);
  });


