%nav.config-breadcrumb.z-depth-0
  .nav-wrapper
    .row
      .col.s12.m12.l12
        =link_to root_path, class:'breadcrumb' do
          Listado de becas
        %a.breadcrumb{}
          =@scholarship.scholarship_type.name


.row
  .card
    .card-content
      .card-title
        Información de la beca
      .row
        .col.s12.m1
          %img.responsive-img.circle{src:"http://posgrado.cimav.edu.mx/imagen/#{@scholarship.person_type.downcase}/#{@scholarship.person_id}"}
        .col.s12.m11
          .right.valign-wrapper
            %i.material-icons.left{class:status_color(@scholarship.status)}
              lens
            =@scholarship.get_status
          %h4
            = @scholarship.person.full_name
          .row
            .col.s12.m6
              -if @scholarship.person_type.eql?'Student'
                %p
                  %b Programa:
                  =@scholarship.person.program.name
              %p
                %b Curp:
                -if !@scholarship.person.curp.blank?
                  = @scholarship.person.curp
                -else
                  %span.red-text
                    Sin capturar
              %p
                %b Fecha de inicio:
                -if !@scholarship.start_date.blank?
                  = f_date_no_time(@scholarship.start_date)
                -else
                  %span.red-text
                    Sin capturar
              %p
                %b Fecha de inicio:
                -if !@scholarship.end_date.blank?
                  = f_date_no_time(@scholarship.end_date)
                -else
                  %span.red-text
                    Sin capturar
              %p
                %b Tipo de beca:
                = @scholarship.scholarship_type.name
            .col.s12.m6
              %table.grey.lighten-4
                %thead
                  %tr
                    %th
                      Concepto
                    %th
                      Cantidad
                %tbody
                  %tr
                    %th
                      Monto máximo
                    %td
                      = number_to_currency(@scholarship.max_amount,unit: "$", separator: ".", delimiter: ",", format: "%u%n")
                  %tr
                    %th
                      Porcentaje
                    %td
                      = "#{@scholarship.percent}%"
                  %tr.grey.lighten-2
                    %th
                      Monto
                    %th
                      = number_to_currency(@scholarship.amount,unit: "$", separator: ".", delimiter: ",", format: "%u%n")
      -if @scholarship.person_type.eql?'Internship'
        %a.btn-floating.btn-large.waves-effect.waves-light.grey.darken-2.tooltipped{href:"/scholarships/#{@scholarship.id}/formato_solicitud",'data-tooltip':"Formato de solicitud de beca", target:'_blank'}
          %i.material-icons insert_drive_file
      -if is_admin?
        %button.btn-floating.btn-large.waves-effect.waves-light.purple.tooltipped{'data-tooltip':"Escribir comentario", onclick:"openModal($('#new_comment_modal'));"}
          %i.material-icons insert_comment
-if @scholarship.scholarship_comments.size>0
  .row
    %ul.collapsible
      %li
        .collapsible-header
          Mensajes
          %span.badge{'data-badge-caption':"#{@scholarship.scholarship_comments.size==1?'Mensaje':'Mensajes'}"}
            =@scholarship.scholarship_comments.size
        .collapsible-body
          =render 'scholarship_messages'











-if @scholarship.status.eql?Scholarship::REQUESTED
  .fixed-action-btn
    %a.btn-floating.btn-large.blue.darken-2
      %i.material-icons
        more_vert
    %ul
      %li
        %a.btn-floating.blue.tooltipped{href:"#{edit_scholarship_path}","data-position":"left", "data-tooltip": "Editar beca","data-delay":40}
          %i.material-icons
            edit
-if is_admin?
  .fixed-action-btn
    %a.btn-floating.btn-large.blue.darken-2
      %i.material-icons
        more_vert
    %ul
      %li
        %a.btn-floating.blue.tooltipped{href:"#{edit_scholarship_path}","data-position":"left", "data-tooltip": "Editar beca","data-delay":40}
          %i.material-icons
            edit

#new_comment_modal.modal
  .modal-content
    %h5 Escribir comentario
    .row
      =form_for ScholarshipComment.new, url:"/scholarships/#{@scholarship.id}/create_comment", class:'col s12 m12' do |f|
        .input-field.col.s12.m12
          =f.label :content,'Mensaje'
          =f.text_area :content, class:'materialize-textarea'
        .input-field.col.s12.m12.right-align
          %button.btn-floating.green.darken-1{type:'submit',value:"Submit"}
            %i.material-icons
              send
:javascript
  $(document).ready(function(){
    // the "href" attribute of the modal trigger must specify the modal ID that wants to be triggered
    $('.modal').modal('close');
  });
