%p#notice= notice

%p
  %b Person type:
  = @scholarship.person_type
%p
  %b Nombre:
  = @scholarship.person.full_name
%p
  %b Monto:
  = "$#{@scholarship.amount}"
%p
  %b Fecha de inicio:
  = f_date(@scholarship.start_date)
%p
  %b Fecha de término:
  = f_date(@scholarship.end_date)
%p
  %b Tipo de beca:
  = @scholarship.scholarship_type.name
%p
  %b Estatus:
  = @scholarship.get_status

= link_to 'Edit', edit_scholarship_path(@scholarship)
\|
= link_to 'Back', scholarships_path
