%table.bordered.file-table
  %thead
    %tr
      %th Tipo de documento
      %th Archivo
      %th
  %tbody
    %tr
      %td
        Constancia de estudios
      %td
        =render partial: 'student_file', locals:{file: @files.where(file_type:StudentFile::REGISTRATION_PROOF).last}
      %td.studentFileTrigger{onclick:"showStudentFilesForm(#{StudentFile::REGISTRATION_PROOF},'#{StudentFile::REQUESTED_DOCUMENTS[StudentFile::REGISTRATION_PROOF]}');"}
        %i.material-icons
          cloud_upload
    %tr
      %td
        Copia de credencial del IFE o INE
      %td
        =render partial: 'student_file', locals:{file: @files.where(file_type:StudentFile::IFE).last}
      %td.studentFileTrigger{onclick:"showStudentFilesForm(#{StudentFile::IFE},'#{StudentFile::REQUESTED_DOCUMENTS[StudentFile::IFE]}');"}
        %i.material-icons
          cloud_upload
    %tr
      %td
        Cuenta bancaria con CLABE
      %td
        =render partial: 'student_file', locals:{file: @files.where(file_type:StudentFile::BANK_ACCOUNT).last}
      %td.studentFileTrigger{onclick:"showStudentFilesForm(#{StudentFile::BANK_ACCOUNT},'#{StudentFile::REQUESTED_DOCUMENTS[StudentFile::BANK_ACCOUNT]}');"}
        %i.material-icons
          cloud_upload
    %tr
      %td
        Copia del CURP
      %td
        =render partial: 'student_file', locals:{file: @files.where(file_type:StudentFile::CURP).last}
      %td.studentFileTrigger{onclick:"showStudentFilesForm(#{StudentFile::CURP},'#{StudentFile::REQUESTED_DOCUMENTS[StudentFile::CURP]}');"}
        %i.material-icons
          cloud_upload
    %tr
      %td
        Comprobante de domicilio
      %td
        =render partial: 'student_file', locals:{file: @files.where(file_type:StudentFile::ADDRESS_BILL).last}
      %td.studentFileTrigger{onclick:"showStudentFilesForm(#{StudentFile::ADDRESS_BILL},'#{StudentFile::REQUESTED_DOCUMENTS[StudentFile::ADDRESS_BILL]}');"}
        %i.material-icons
          cloud_upload
    %tr
      %td
        Plan de trabajo detallado
      %td
        =render partial: 'student_file', locals:{file: @files.where(file_type:StudentFile::WORKPLAN).last}
      %td.studentFileTrigger{onclick:"showStudentFilesForm(#{StudentFile::WORKPLAN},'#{StudentFile::REQUESTED_DOCUMENTS[StudentFile::WORKPLAN]}');"}
        %i.material-icons
          cloud_upload
    %tr
      %td
        Comprobante de seguro médico
      %td
        =render partial: 'student_file', locals:{file: @files.where(file_type:StudentFile::INSURANCE).last}
      %td.studentFileTrigger{onclick:"showStudentFilesForm(#{StudentFile::INSURANCE},'#{StudentFile::REQUESTED_DOCUMENTS[StudentFile::INSURANCE]}');"}
        %i.material-icons
          cloud_upload
    %tr
      %td
        Credencial del CIMAV vigente
      %td
        =render partial: 'student_file', locals:{file: @files.where(file_type:StudentFile::CIMAV_CREDENTIAL).last}
      %td.studentFileTrigger{onclick:"showStudentFilesForm(#{StudentFile::CIMAV_CREDENTIAL},'#{StudentFile::REQUESTED_DOCUMENTS[StudentFile::CIMAV_CREDENTIAL]}');"}
        %i.material-icons
          cloud_upload
    %tr
      %td
        Carta de solicitud de beca del CIMAV con monto a pagar y firma del responsable
      %td
        =render partial: 'student_file', locals:{file: @files.where(file_type:StudentFile::REQUEST_LETTER).last}
      %td.studentFileTrigger{onclick:"showStudentFilesForm(#{StudentFile::REQUEST_LETTER},'#{StudentFile::REQUESTED_DOCUMENTS[StudentFile::REQUEST_LETTER]}');"}
        %i.material-icons
          cloud_upload


      -#%td
      -#%td
        =link_to "/scholarships/#{@scholarship.id}/delete_image/#{image.id}", class:'delete_image grey-text', method:'delete', pc_id:@product_category.id, psc_id:@product_sub_category.id,p_id:@product.id, remote:true do
          %i.material-icons.red-hover
            close
