= form_for @scholarship_type do |f|
  .input-field
    = f.label :name, 'Nombre'
    = f.text_field :name
  .input-field
    = f.label :description, 'Descripción'
    = f.text_field :description
  .row
    .col.s12.m6
      = f.label :category, 'Categoría', class:'active'
      = f.select :category, ScholarshipType::CATEGORIES.invert
    .col.s12.m6
      = f.label :max_amount, 'Monto máximo'
      = f.number_field :max_amount, step: :any
  .row
    .col.s12.m12
      .right
        = f.button type:'submit',class:'btn-floating btn-large green tooltipped', 'data-tooltip':'Guardar','data-delay':40 do
          %i.material-icons
            done
        -if screen.eql?'edit'
          -if Scholarship.where(scholarship_type:@scholarship_type).where.not(status:Scholarship::DELETED).size == 0
            = link_to @scholarship_type,class:'btn-floating btn-large red tooltipped', 'data-tooltip':'Eliminar','data-delay':40,method: :delete, data: { confirm: '¿Estás seguro?' }  do
              %i.material-icons
                delete
          -else
            %button{class:'btn-floating btn-large disabled'}
              %i.material-icons
                delete
            %i.material-icons.tooltipped.grey-text{'data-tooltip':'No se puede eliminar ya que hay becas de este tipo'}
              help