!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/


    %title Becas
    = csrf_meta_tags
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
    %link{:href => "https://fonts.googleapis.com/icon?family=Material+Icons", :rel => "stylesheet"}
    %link{:crossorigin => "anonymous", :href => "https://use.fontawesome.com/releases/v5.0.10/css/all.css", :integrity => "sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg", :rel => "stylesheet"}
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    %script{:src => "https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid.min.js", :type => "text/javascript"}
    %script{:src => "https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.bundle.min.js"}
    = favicon_link_tag
  %body

    %ul#side-menu.side-nav.fixed

      %a.navbar-logo{href:'/', 'data-turbolinks':"false"}
        =image_tag 'logo-becas-osc.png', class:'responsive-img navbar-logo'
      %li{class:"#{active_class('/scholarships')} #{'active' if request.path.eql?'/'}"}
        %a{href:'/scholarships','data-turbolinks':"false"}
          %i.material-icons
            school

      -if is_admin?
        %li{class:active_class('/scholarship_types')}
          %a{href:'/scholarship_types'}
            %i.material-icons
              list
        %li{class:active_class('/stats')}
          %a{href:'/stats'}
            %i.material-icons
              equalizer
        %li{class:active_class('/users')}
          %a{href:'/users'}
            %i.material-icons
              people
      .divider
      %li{class:active_class('/logout')}
        %a{href:'/logout'}
          %i.material-icons
            exit_to_app

    %a.button-collapse{"data-activates" => "side-menu", :href => "#"}
      %i.material-icons menu
    %main
      .container
        = yield

/ Mensajes
-if alert
  -alert.each do |error|
    :javascript
      Materialize.toast("#{error}", 4500, 'orange darken-4')
:javascript
      Materialize.toast("#{notice}", 3000)