!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/


    %title Becas
    = csrf_meta_tags
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
    %link{:href => "https://fonts.googleapis.com/icon?family=Material+Icons", :rel => "stylesheet"}
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    = favicon_link_tag
  %body

    %ul#side-menu.side-nav.fixed

      %a.navbar-logo{href:'/'}
        =image_tag 'logo-becas-osc.png', class:'responsive-img navbar-logo'
      %li{class:"#{active_class('/scholarships')} #{'active' if request.path.eql?'/'}"}
        %a{href:'/scholarships'}
          %i.material-icons
            folder_special

      -if is_admin?
        %li{class:active_class('/scholarship_types')}
          %a{href:'/scholarship_types'}
            %i.material-icons
              folder
        %li{class:active_class('/users')}
          %a{href:'/users'}
            %i.material-icons
              people
      .divider
      %li{class:active_class('/logout')}
        %a{href:'/logout'}
          %i.material-icons
            exit_to_app

    %a.button-collapse{"data-activates" => "side-menu", :href => "#"}
      %i.material-icons menu
    %main
      .container
        = yield


:javascript
  Materialize.toast("#{notice}", 3000)